[GENERAL]
ip_v4_only = False
dump_tree = False

result_prefix = my_dummy

[NETFLOW]
netflow_column_mapping = {"peer_src_ip": 0, "in_iface": 1, "src_ip": 2, "ts_end": 3, "sep": " "}

[PATH]
ingresslink_file = /data/slow/mehner/ipd/ingresslink/1605571200.gz
router_ip_mapping_file = /data/slow/mehner/ipd/router_lookup_tables/1605571200.txt
result_path = ./ipd_algo_results_publish

[IPD]
t=61
q=0.5
cidr_max_v4=28
cidr_max_v6=48
min_samples_v4=64
min_samples_v6=24
e=121
decay=default

[LOGGING]
loglevel=20
logfile_path= ./logfile.txt

[MISC]
bundle_indicator= .b_
default_decay_keep_fraction = 0.9
linear_decay = 1000

allowed_bundle_share_delta=0.05
initial_idle_time = 10

# output range file every n'th ipd iteration
range_output_freq=5

# TODO not implemented yet
subnet_output_freq=1