[GENERAL]
ip_v4_only = False
# optional to distinguish e.g. several paramater study runs
result_prefix = default

[NETFLOW]
netflow_column_mapping = {"peer_src_ip": 0, "in_iface": 1, "src_ip": 2, "ts_end": 3, "sep": " "}

[PATH]
ingresslink_file = ./ingresslink/mini-internet.gz
router_ip_mapping_file = ./router_lookup_tables/mini-internet.txt
result_path = ./results 


[IPD]
t=60
q=0.95
cidr_max_v4=28
cidr_max_v6=48
min_samples_v4=64
min_samples_v6=24
e=120
decay=default

[LOGGING]
loglevel=20

[MISC]
bundle_indicator= .b_
default_decay_keep_fraction = 0.9
linear_decay = 1000

allowed_bundle_share_delta=0.05
initial_idle_time = 10

# output range file every n'th ipd iteration
output_freq=5

# set to 0 if 
tree_dump_freq=15